<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".QuizActivities.KorQuizActivity" />
        <activity android:name=".QuizActivities.ChiQuizActivity" />
        <activity android:name=".QuizDatabase.QuizActivity" />
        <activity android:name=".QuizActivities.JpnQuizActivity" />
        <activity android:name=".LanguageActivities.KorActivity" />
        <activity android:name=".LanguageActivities.ChiActivity" />
        <activity android:name=".LanguageActivities.JpnActivity" />
        <activity android:name=".Start.ForgotPassActivity" />
        <activity android:name=".Start.SignUpActivity" />
        <activity android:name=".Start.SignInActivity" />
        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".Start.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>